---

- name: Install preflight dependencies for apt repo + python mysql drivers
  ansible.builtin.apt:
    name:
      - python3-pymysql
      - python3-mysqldb
    state: present
    update_cache: true
